<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout ('회원가입', ~{::article}, ${base})}">
<body>

<head>
    <link rel="stylesheet" href="../../static/css/all.min.css" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>a { text-decoration: none; color: black; }</style>
    <script src="../../static/scripts/bootstrap.bundle.min.js" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</head>

<article>
    <form th:action method="POST" th:object="${registerForm}">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
            <div class="alert alert-warning" role="alert" th:errors="*{email}">이메일 오류</div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
            <div class="alert alert-warning" role="alert" th:errors="*{username}">아이디 오류</div>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" th:field="*{nickname}">
            <div class="alert alert-warning" role="alert" th:errors="*{nickname}">닉네임 오류</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
            <div class="alert alert-warning" role="alert" th:errors="*{password}">비밀번호 오류</div>
        </div>
        <div class="float-end">
            <button type="submit" class="btn btn-primary">회원가입</button>
        </div>
    </form>
</article>

</body>
</html>