<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/all.min.css" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>a { text-decoration: none; color: black; }</style>
    <script src="../../static/scripts/bootstrap.bundle.min.js" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
    <title>4XX Client Error</title>
</head>
<body>
<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="error-image mb-4">
            <img src="../../static/images/4xx.webp" th:src="@{/images/4xx.webp}" alt="4xx" width="300" height="300">
        </div>
        <h1 class="display-1 font-weight-bold">4XX</h1>
        <p class="lead">Client Error</p>
        <p class="mb-4">입력하신 주소가 잘못되었거나 접근 권한이 없는 페이지를 요청했습니다.<br>입력하신 주소를 확인하고 다시 시도해주세요.</p>
        <a href="javascript:history.back();" class="btn btn-primary">이전 페이지</a>
        <a href="../home.html" th:href="@{/}" class="btn btn-secondary">AK.WIKI 홈</a>
    </div>
</div>
</body>
</html>