<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout (title='AK.WIKI:대문', content=~{::article}, base=${base})}">

<head>
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>a { text-decoration: none; color: black; }</style>
    <script src="../static/scripts/bootstrap.bundle.min.js" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</head>

<body>

<article>
    <p>환영합니다! 여러분이 만들어나가는 AK.WIKI에 오신 것을 환영합니다.</p>
    <p>AK.WIKI는 누구나 기여할 수 있는 위키입니다.</p>
    <p>검증되지 않았거나 편향된 내용이 있을 수 있습니다.</p>
</article>

</body>
</html>